{% extends '@layout/default.html.twig' %}
{% block content %}
<h2>{{ data }}{{ " Macaron da nona!" }}</h2>
<p>Testando o cache</p>
<p>{{ "Concatenando duas "~"Strings" }}</p>
    <div>
        {% for customer in customers %}
            <p>{{ customer.name~" => " }}{{ customer.email }}</p>
        {% endfor %}
    </div>
    {% for i in 0..50 %}
        {{ i }}
    {% endfor %}
    {% for val in 'a'..'z' %}
        {{ loop.index~"=>" }}{{ val }}{{ "<br>" }}
    {% endfor %}
{% endblock %}